      <div class="col-xs-12 col-sm-12 col-md-12">
	<h1 class="text-center">Bar Stock</h1>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<table class="table">
	  <tbody>
	    <tr>
	      <td><span class="purple">Vodka</span></td>
	      <td><%= vodkaStock %></span> <small class="purple">ML</small></td>
	    </tr>
	    <tr>
	      <td><span class="purple">Gin</span></td>
	      <td><%= ginStock %> <small class="purple">L</small></td>
	    </tr>
	    <tr>
	      <td><span class="purple">Tequila</span></td>
	      <td><%= tequillaStock %> <small class="purple">ML</small></td>
	    </tr>
	    <tr>
	      <td><span class="purple">Whiskey</span></td>
	      <td><%= whiskeyStock %> <small class="purple">ML</small></td>
	    </tr>
	  </tbody>
	</table>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<table class="table">
	  <tr>
	    <td><span class="purple">Sweet Vermouth</span></td>
	    <td><%= sweetVermouthStock %> <span class="purple">ML</span></td>
	  </tr>
	  <tr>
	    <td><span class="purple">Dry Vermouth</span></td>
	    <td><%= dryVermouthStock %> <span class="purple">ML</span></td>
	  </tr>
	  <tr>
	    <td><span class="purple">Bloody Mary Mix</span></td>
	    <td><%= bloodyMaryStock %> <span class="purple">L</span></td>
	  </tr>
	</table>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<table class="table">
	  <tr>
	    <td><span class="purple">Agave Nectar</span></td>
	    <td><%= agaveNectarStock %> <span class="purple">oz</span></td>
	  </tr>
	  <tr>
	    <td><span class="purple">Orange Juice</span></td>
	    <td><%= orangeJuiceStock %> <span class="purple">oz</span></td>
	  </tr>
	  <tr>
	    <td><span class="purple">Limes</span></td>
	    <td><%= limeStock %></td>
	  </tr>
	</table>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
	<table class="table">
	  <tr>
	    <td><span class="purple">Cherries</span></td>
	    <td><%= cherryStock %></td>
	  </tr>
	  <tr>
	    <td><span class="purple">Celery Stalks</span></td>
	    <td><%= celeryStalkStock %></td>
	  </tr>
	  <tr>
	    <td><span class="purple">Olives</span></td>
	    <td><%= oliveStock %></td>
	  </tr>
	</table>
      </div>
